:root {
  --c1:#9cecfb;
  --c2:#65c7f7;
  --c3:#0052d4;
  --c4:rgb(242, 83, 39); /*Comp color-ish, for header & footer*/
  --c5: #262626; /*text color*/

  --logo-font-size: 1.5rem;
  --logo-img-width: 1.5rem;
  --logo-font-color: var(--c4);
 
  --menu-font-size: 1rem;

  --body-font-size: 1rem;

  --bottom-img-width: 100%;
  --bottom-img-height: 12.5rem;
  --bottom-font-size: 1rem;
  --bottom-title-color: var(--c4);
}

* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  border:0px;
}

html {
    font-size: 16px;
}

html, body {
  height: 100%;
  background: linear-gradient(var(--c1),var(--c2),var(--c3));
  color: var(--c5);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top {
  width: 100%;
  height: 2.5rem;
}

.body {
  width: 100%;
  height: calc(100% - 17rem);
}

.bottom {
  width: 100%;
  height: 14.5rem;
}

.logo {
  width: 100%;
  font-size: var(--logo-font-size);
  color: var(--logo-font-color);
}

.logo .img {
  width: var(--logo-img-width);
  padding-left: 1%;
}

.menu {
  width: 100%;
}

.menu a {
  font-size: var(--menu-font-size);
  padding: 0px 10px;
  text-decoration: none;
  color: var(--c5);
}

.menu a:hover {
  background-color: var(--c4);
  color: var(--c1);
}

.body {
  width: 100%;
  padding: 0 15%;
  font-size: var(--body-font-size);
}

.body p {
  padding-bottom: 2rem;
}

.body p:last-child {
  padding-bottom: 0;
}

.body h1 {
  text-align:center;
 }

 .bottom div {
  width:var(--bottom-img-width);
  height:var(--bottom-img-height);
}

 .bottom div img {
  width:var(--bottom-img-width);
  height:var(--bottom-img-height);
}

.bottom h3 {
  width:100%;
  text-align:center;
  color:var(--bottom-title-color);
  font-size: var(--bottom-font-size);
}
